$white: #FFFFFF;
$background: #f1f4f7;
$lightred: #bb1e1e1b; // opacity 10%
$red: #BB1E1E; 
$darkgray: #A5A5A4;
$icon: #8D8D8C;
$dark: #1D1D1B;
// $dark: #10100e;
$black: #000000;
$blue: #1E71BB;
$lightblue: #B4D6F4;
$seablue: #1976d2;
$darkblue: #115ba5;
$mediumblue: #2b88b6;

// $background: #C8CAD1;



