@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

.header__menu {
  width: auto;
  margin-right: 16px;
  margin-top: 29px;
  margin-bottom: 24px;
  padding: 0;
  border: none;
  @include flex-center;
  cursor: pointer;
  background: none;
  transition: transform 0.15s ease;
  &:hover {
    transform: scale(1.08);
  }

  &__menu img {
    width: 24px;
    height: 20px;
    display: block;
  }
}

.button-close {
  position: absolute;
  top: 28px;
  right: 16px;
  padding: 0;
  border: none;
  @include flex-center;
  cursor: pointer;
  transition: transform 0.15s ease;

  padding: 2px;
  border-radius: 6px;
  border: 2px solid $icon;
  transition: transform 0.15s ease;

  &:hover {
    transform: scale(1.08);
  }

  &__img {
    width: 19.8px;
    height: 19.8px;
  }
}

// category-buttons with icon & name:
.button-category {
  width: 63px;
  height: 63px;
  @include flex-center;
  flex-direction: column;
  opacity: 70%;
  border: none;
  background-color: $background;
  border-radius: 6px;
  cursor: pointer;

  &:hover,
  &.selected {
    background-color: $white;
    opacity: 1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  }

  &:hover .button-category__title,
  &.selected .button-category__title {
    color: $darkblue;
  }
}

.button-category img.active {
  filter: brightness(0.85);
}

.button-category__title {
  padding: 5px;
  font-family: "Inter", sans-serif;
  // font-family: "Manrope", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  text-align: center;
  color: $dark;
  font-weight: 600;

  @media (min-width: 1024px) {
    font-size: 10.5px;
    letter-spacing: 0.1px;
    text-align: center;
  }
}

.apartments-mobile-buttons {
  @include flex-center;
  flex-direction: row;
  margin: 36px auto 24px;
  gap: 10px;
}

.button-featured,
.button-latest {
  padding: 10px 16px;
  background-color: $background;
  color: $dark;
  border: none;
  @include flex-center;

  border-radius: 20px;
  cursor: pointer;
  @include text-style(600, 16px, 20px, -0.02px);

  &:hover {
    background-color: #9fcaf5;
    color: $darkblue;
  }
  &.active {
    background-color: #9fcaf5;
    color: $darkblue;
  }
}

.both-buttons-filtered-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 16px;
    width: 25%;
  }
}

.search-field__input-button {
  display: none; // not visible on mobile version

  // @media (min-width: 1024px) {
  // visible only on desktop version
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  margin: auto 5px auto auto;
  // margin: auto;
  @include text-style(700, 14px, 20px, 0.2px);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $seablue;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease;
  &:hover {
    background: $darkblue;
    transform: scale(1.08);
  }
  // }
}

.button-home {
  display: block;
  padding: 10px 16px;
  border-radius: 6px;
  // margin: auto 5px auto auto;
  @include text-style(500, 15px, 20px, 0.2px);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $seablue;
  border: none;
  cursor: pointer;
  margin: 20px auto 0 auto;
  &:hover {
    background: $darkblue;
  }
}

.favorite-label {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.574);
  color: white;
  font-family: Inter, "sans-serif";
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 0.15s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.apartment-full-category .apartment-card-button {
  background-color: $background;
}

.apartment-card-button {
  background: rgba(255, 0, 0, 0) !important;
}

.run-search-filtered-button {
  display: block;
  margin: 0 0 16px 0;
  @media (min-width: 1024px) {
    margin: auto 5px auto auto;
  }
}

.search-filters__button {
  // padding: 10px 16px;
  background-color: $darkblue;
  border: none;
  font-size: 14px;
  white-space: nowrap;
  transition: background 0.2s ease;
  transition: transform 0.15s ease;
  @media (min-width: 1024px) {
    margin: auto 5px auto auto;
    margin: auto;
  }
}

.search-filters__button:hover {
  background: $seablue;
  transform: scale(1.08);
}

.search-filters__button,
.filters-modal__apply {
  display: block;
  padding: 10px 16px;
  border-radius: 8px;

  @include text-style(700, 14px, 20px, 0.2px);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;
  cursor: pointer;
}

.filters-modal__apply {
  background-color: $seablue;
  transition: transform 0.15s ease;
}

.filters-modal__apply:hover {
  background-color: $darkblue;
  transform: scale(1.03);
}

button.rdrDay.rdrDayToday {
  color: $seablue;
}

.rdrDayStartPreview,
.rdrDayEndPreview,
.rdrDayNumber,
.rdrStartEdge,
.rdrEndEdge {
  color: $seablue !important;
}

.toggle-btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddecfe;
  margin: 4px;
  cursor: pointer;
  background: #ddecfe;
  transition: transform 0.15s ease;
}

.toggle-btn.active {
  background: $seablue;
  color: white;
}

.toggle-btn:hover {
  background: $seablue;
  color: white;
  transform: scale(1.03);
}

.filters-modal__close-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
}

.filters-modal__close-calendar .button-close {
  position: absolute;
  top: 12px;
  right: 11px;
}

.proceed-button {
  margin-top: 20px;
  margin-left: 0;
}
