@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

// SEARCHBAR:

// wrapper for title (on desktop) and search-field:
.searchbar {
  // MOBILE - Homepage:
  @include flex-center;

  // border-bottom: 1px solid rgba(151, 151, 151, 0.0901960784);
  
  // border-bottom: 1px solid rgba(81, 119, 159, 0.22);

  flex-direction: row;
  margin: 0 16px 0;

  // desktop:
  @media (min-width: 1024px) {
    // width: 942px;
    // border-bottom: 1px solid #97979717; // thin gray line
    transition: margin-top 0.25s ease;
    align-self: center;
    align-items: baseline;
    justify-content: flex-start;
  }

  @media (min-width: 1200px) {
    width: 1094px; // should stay this for largest desktop resolution
    margin: 35px auto 0;
  }
}

// mobile categories menu:
.searchbar-modal__categories {
  margin-top: 64px;
  width: 383px;
}

// search-input-div with icon, input-field and search-button:
.search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 345px; // mobile
  height: 50px;
  background-color: $white;
  background-color: #ddecfe;
  border-radius: 10px;
  margin-top: 20px;

  // new: 
  background-image: url("/src/assets/images/sea15.jpg");
  background-size: cover;       
  background-position: center; 

  // desktop:
  @media (min-width: 1024px) {
    // width: 675px;
    width: 830px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  // search icon:
  &__img {
    width: 16px;
    height: 16px;
    margin: 12px;
    flex-shrink: 0;
    display: block;

    // desktop:
    @media (min-width: 1024px) {
      width: 20px;
      height: 20px;
      margin: 15px;
    }
  }

  &__input {
    border: none;
    // height: 100%;
    width: 343px; // mobile
    width: 90%;
    // height: 48px;
    background-color: $white;
    @include text-style(400, 15px, 16px, -0.02px);
    color: $dark;
    // opacity: 70%;
    outline: none;
    border-radius: 10px;
    margin: 15px 45px 15px 15px;
    padding: 10px 14px;

    // border: 1px solid #dcdcdc;

    // desktop:
    @media (min-width: 1024px) {
      line-height: 20px;
      letter-spacing: 0px;
      // width: 525px;
    }
  }
}

.searchterm,
.searchterm-mobile {
  font-size: 14px;
  color: $blue;
  font-weight: 500;
}

.searchterm-mobile {
  padding-bottom: 24px;
}

.searchterm-mobile-no {
  margin: 50px 55px 0; // central positioning
}

.searchterm-center {
  margin: 20px auto;
}

// FILTERS-MODAL:

.filters-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filters-modal__content {
  background: white;
  padding: 24px;
  border-radius: 10px;
  width: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters-modal__close-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;

  & .button-close {
    padding: 2px;
    border-radius: 6px;
    border: 2px solid $icon;
    transition: transform 0.15s ease;
  }
  & .button-close:hover {
    transform: scale(1.08);
  }
}

.filters-modal__title {
  margin-top: 12px;
  margin-bottom: 20px;
}

.filters-modal__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// SEARCH-FILTERS: DESTINATION, DATE, PERSONS:

// main box with 3 input-fields and 2 buttons:
.search-filters-box {
  display: flex;
  // gap: 12px;
  gap: 2%;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 20px;
  background-color: $white;
  background-color: #ddecfe;
  border-radius: 10px;
  width: 343px;

  // new:
  background-image: url("/src/assets/images/sea15.jpg");
  background-size: cover;       
  background-position: center; 

  @media (min-width: 1024px) {
    flex-direction: row;
    width: 1100px;
  }
  @media (min-width: 1024px) and (max-width: 1199px) {
    width: 960px;
  }
}

// each of the 3 input-fields - common style:
.search-filters-box__input {
  // flex: 1;
  padding: 10px 14px;
  margin: 5px 0px;
  border: 1px solid #dcdcdc;
  border: 1px solid #dcdcdc00;
  // opacity: 70%;
  border-radius: 10px;
  font-size: 14px;
  background: #fff;
  transition: border-color 0.2s ease;
  // width: 90%;
  width: 308px;
  font-family: "Manrope", sans-serif;

  @media (min-width: 1024px) {
    width: 23.5%;
  }
}

// INPUT-DESTINATION:
.search-filters-box__input-destination {
  cursor: pointer;
  margin-top: 16px;
  // custom arrow:
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  // padding-right: 28px;
  // position: relative;
  // width: 25%;
  @media (min-width: 1024px) {
    margin: 0 0 0 5px;
  }
}

.search-filters-box__input:focus {
  outline: none;
  border-color: $darkgray;
}

// destination, dates, nr. of persons (3 inputs):
.search-filters-box__dropdown-wrapper-destination,
// .search-filters-box__dropdown-wrapper-dates,
.search-filters-box__dropdown-wrapper-persons {
  position: relative;
  // left: 1px;
  // width: 93.7%;
  // width: 94%;
  width: 308px;

  @media (min-width: 1024px) {
    // margin-left: 5px;
    width: 23.5%;
  }
}

// accommodation type, inside Filters - modal
.search-filters-box__dropdown-wrapper-accommodation {
  width: 432px; // same width for mobile or desktop, beause insie modal - full width
}

.search-filters-box__input-dates {
  @media (min-width: 1024px) {
    width: 23.5%;
    margin-right: 0px;
  }
}

// .search-filters-box__dropdown-wrapper-destination {
//   // margin-left: 5px;  // not needed for mobile.
//   // width: 25%;
// }

.search-filters-box__input-dates {
  cursor: pointer;
}

// dropdown-options:
.search-filters-box__dropdown-persons,
.search-filters-box__dropdown-destination,
.search-filters-box__dropdown-accommodation {
  position: absolute;
  top: 42px;
  left: 0px;
  right: 0;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 3000;
  width: 100px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  border-color: $darkgray;
}

.search-filters-box__dropdown-destination {
  width: 150px;
  top: 56px;
  left: 0px;
  @media (min-width: 1024px) {
    top: 40px;
    left: 4px;
  }
}

.search-filters-box__dropdown-persons {
  width: 50px;
  top: 45px;
}

.search-filters-box__dropdown-accommodation {
  top: 406px;
  left: 25px;
}

.search-filters-box__input-persons {
  // custom arrow:
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 28px;
  cursor: pointer;
  @media (min-width: 1024px) {
    width: 100%; // to repeat the same gap like between 2 buttons on the right side of bar.
  }
  // @media (min-width: 1024px) and (max-width: 1199px) {
  //   width: 308px;
  // }
}

.search-filters-box__input-destination {
  // custom arrow:
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 28px;
  cursor: pointer;
  @media (min-width: 1024px) {
    width: 98%; // to repeat the same gap like between 2 buttons on the right side of bar.
  }
  // @media (min-width: 1024px) and (max-width: 1199px) {
  //   width: 308px;
  // }
}

.search-filters-box__input-accommodation {
  // custom arrow:
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 28px;
  cursor: pointer;
  width: 432px;
}

// each option in a dropdown:
.search-filters-box__dropdown-item {
  padding: 6px 19px;
  cursor: pointer;
  transition: background 0.15s ease;
  text-align: center;
}

.search-filters-box__dropdown-item:hover {
  background: #ddecfe;
}

/*  PRICE SLIDER - Radix UI:  */
// npm install @radix-ui/react-slider

.price-slider-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  // width: 432px;
}

.price-values {
  text-align: center;
  margin-top: 5px;
}

.price-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
}

.price-slider__track {
  position: relative;
  flex-grow: 1;
  height: 4px;
  background: #e5e5e5;
  border-radius: 9999px;
}

// visible line (0-1000):
.price-slider__range {
  position: absolute;
  height: 100%;
  background: $seablue;
  border-radius: 9999px;
}

.price-slider__thumb {
  display: block;
  width: 18px;
  height: 18px;
  background: $seablue;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.price-slider__thumb:hover {
  transform: scale(1.15);
}

.price-slider__thumb:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

/* SELECT-BOX WRAPPER - sorting by default, price, rating, reviews, size */

.sorting-box-wrapper {
  max-width: 1094px;
  margin: 20px auto 0;
  padding-top: 10px;
  padding-bottom: 20px;
  // border-bottom: 1px solid rgba(151, 151, 151, 0.0901960784);
  border-bottom: 1px solid rgba(81, 119, 159, 0.22);
}

.sorting-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0px auto 10px;
  padding: 0px 14px;
  // opacity: 70%;
  background: #ffffff;
  border-radius: 10px;
  width: 343px;
  z-index: 200;
  background-color: #ddecfe;
  color: #115ba5;
  // border-bottom: 1px solid rgba(151, 151, 151, 0.0901960784);

  // new:
  background-image: url("/src/assets/images/sea15.jpg");
  background-size: cover;       
  background-position: center; 

  @media (min-width: 1024px) {
    width: fit-content;
  }
}

// /* LABEL */
.sorting-label {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  opacity: 70%;
  font-weight: 400;
}

/* SELECT */
.sorting-select {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  // opacity: 70%;
  font-weight: 400;
  padding: 10px 14px;
  margin: 15px 0;
  font-size: 14px;
  border: 1px solid #e5e7eb00; /* light gray */ // -> changed to fully transparent, invisible border
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease;
  text-align: left;
  width: 170px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #6a6a6a;

  // custom arrow:
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 28px;
  @media (min-width: 1024px) {
    margin: 5px 0;
  }
}

.sorting-select-placeholder {
  color: rgb(120, 120, 120);
  // opacity: 70%;
}

.sorting-select:focus {
  outline: none;
  border-color: $darkgray;
  box-shadow: none;
}

.sorting-select__dropdown {
  position: absolute;
  top: 54px;
  left: 115px;
  right: 0;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 200;
  width: 170px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  border-color: $darkgray;
  color: black;

  @media (min-width: 1024px) {
    left: 76px;
    top: 46px;
  }
}

.sorting-select__dropdown-item {
  padding: 10px 19px;
  cursor: pointer;
  transition: background 0.15s ease;
  text-align: center;
  z-index: 200;
}

.sorting-select__dropdown-item:hover {
  background: #ddecfe;
}

/* Mobile layout */
@media (max-width: 768px) {
  .search-filters-box {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    max-width: 100%;
    padding: 0 16px;
  }

  // .search-filters__button {
  //   width: 100%;
  // }
}

// Desktop:

@media (min-width: 1024px) {
  .header-hidden .searchbar {
    margin-top: calc(35px - 73px);
  }

  .searchterm,
  .searchterm-mobile {
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .searchbar {
    width: 960px; // width needed, otherwise the searchbar is not centered in this middle-layout
    margin: 35px auto 0;
  }
  .search-field__input {
    width: 400px; // adjusted width of the search-input for middle layout, to keep full searchbar centered
  }
}
